@import url("file:///home/kirito/.cache/wal/colors-waybar.css");

* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size:13px;
    min-height: 0;
    padding:0px;
    margin:0;
}
/* .modules-left, .modules-center, .modules-right{ 
    padding:4px 12px

} */

window#waybar {
    background-color: transparent;
}
#workspaces{
    background: transparent;
    padding: 0 3px;

}
#workspaces button {
    padding: 2px 15px;
    background-color: @color0;
    margin: 0 3px;
    border-radius: 6px;
    color: @color7;
    font-size: 5px;
    transition: all 0.3s linear
}
#workspaces button:hover {
    background-color: @color12;
    color: black;
    padding: 2px 30px;
}
#workspaces button.active {
    background-color: alpha(azure,0.8);
    color: black;
    padding: 2px 30px;
}

.modules-left{
    padding: 2px 15px;
    background-color: alpha(@color6,0.8);
    margin: 0 9px;
    border-radius: 6px;
    color:black;
    transition: all 0.5s ease-in-out;
}

#custom-appmenu {
    font-size: 20px;
    margin-right: 5px;
}

#niri-window {
    transition: padding 0.5s ease-in-out, min-width 0.5s ease-in-out;
}

#pulseaudio,#network,#custom-power,#notitray,#backlight,#clock,#battery{
    padding: 2px 12px;
    background-color: alpha(@color2,0.8);
    border-radius: 6px;
    color:black;
    transition: all 0.5s ease-in-out;
}
#
#cpuu #cpu,#memory,#temperature{
    margin-right: 5px
}
#notitray #tray,#custom-notification{
    margin: 0 8px 0 0;
}
#custom-power{
    font-size: 20px;
    padding-right: 2px;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @color3;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery{
    background-color: alpha(azure,0.8);
}
#network {
    background-color: @color6;
}
#network.disconnected {
    background-color: @color3;
}
#pulseaudio{
    background-color: alpha(rgb(224, 238, 238),0.8);
}

#pulseaudio.muted {
    background-color: alpha(@color11,0.8);
    color: black;
}

#backlight{
    background-color: alpha(@color4,0.8);
}

