@import url("file:///home/kirito/.cache/wal/colors-waybar.css");

* {
	background-image: none;
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-weight: bold;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);

}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	transition: all 0.3s ease-in-out;
}

button:focus, button:active, button:hover {
	background-color: @color2;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.svg"), url("/usr/local/share/wlogout/icons/lock.svg"));
}


#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.svg"), url("/usr/local/share/wlogout/icons/logout.svg"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.svg"), url("/usr/local/share/wlogout/icons/suspend.svg"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.svg"), url("/usr/local/share/wlogout/icons/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.svg"), url("/usr/local/share/wlogout/icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.svg"), url("/usr/local/share/wlogout/icons/reboot.svg"));
}
