@define-color foreground #e4e1e3;
@define-color background #101315;
@define-color cursor #e4e1e3;

@define-color color0 #101315;
@define-color color1 #A39CA2;
@define-color color2 #8EABB7;
@define-color color3 #D1AFB0;
@define-color color4 #A0B7C4;
@define-color color5 #D2BFC1;
@define-color color6 #AFC6D0;
@define-color color7 #e4e1e3;
@define-color color8 #9f9d9e;
@define-color color9 #A39CA2;
@define-color color10 #8EABB7;
@define-color color11 #D1AFB0;
@define-color color12 #A0B7C4;
@define-color color13 #D2BFC1;
@define-color color14 #AFC6D0;
@define-color color15 #e4e1e3;
